<?xml version="1.0"?>
<!--
Eras:
0: 2000 - now
1: 1900 - 2000
2: 1 - 1900
3: 7000 BC - 1 BC
4: 2,000,000 years ago - 7,000 years ago
5: 1,000 mya (1 bya) - 2 mya
6: 13.7 bya - 1 bya
-->
<history>
  <event era="0" time="2015.1891">This was yesterday!</event>
  <event era="1" time="2000.0027">Y2K bug averted</event>
  <event era="2" time="1918.8630">End of World War 1</event>
  <event era="3" time="1592.1995">Best pi day ever</event>
  
  <!-- I'm so sorry for this date system -->
  <event era="4" time="6000">Start of human civilization</event>
  <event era="5" time="400">Humans discover fire</event>
  <event era="6" time="542">Cambrian Explosion</event>
  <event era="7" time="13.7">Big Bang</event>
</history>